{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>#ANDYFallinLUP</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body,h1,h2{font-family: "Raleway", sans-serif}
        body, html {height: 100%}
        p {line-height: 2}
        .bgimg, .bgimg2 {
          min-height: 100%;
          background-position: center;
          background-size: cover;
        }
        .bgimg {background-image: url("{% static '/template_1/img/broken_beach.jpg' %}")}
        .bgimg2 {background-image: url("{% static '/template_1/img/sunset.jpg' %}")}
        </style>
</head>
<body>
<button id="openNav" class="w3-button w3-white w3-xlarge w3-hide-medium w3-hide-large" onclick="w3_open()">&#9776;</button>
<!-- Header / Home-->
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
    <div class="w3-display-middle w3-text-white w3-center">
        <h1 class="w3-jumbo">Andy & Lupita</h1>
        <h2>Are getting married</h2>
        <h2><b>18.08.2026</b></h2>
    </div>
</header>

<!-- Navbar (sticky top) -->
<div class="w3-top w3-hide-small">
    <div class="w3-bar w3-white w3-center w3-padding w3-opacity-min w3-hover-opacity-off">
        <a href="#home" style="width:25%" class="w3-bar-item w3-button">Home</a>
        <a href="#us" style="width:25%" class="w3-bar-item w3-button">Andy & Lupita</a>
        <a href="#wedding" style="width:25%" class="w3-bar-item w3-button">Wedding</a>
        <a href="#rsvp" style="width:25%" class="w3-bar-item w3-button w3-hover-black">RSVP</a>
    </div>
</div>

<div class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large"
            onclick="w3_close()">Close &times;</button>
    <a href="#home" class="w3-bar-item w3-button">Home</a>
    <a href="#us" class="w3-bar-item w3-button">Andy & Lupita</a>
    <a href="#wedding" class="w3-bar-item w3-button">Wedding</a>
    <a href="#rsvp" class="w3-bar-item w3-button">RSVP</a>
</div>

<!-- About -->
<div class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min" id="us">
    <div class="w3-content">
        <h1 class="w3-center w3-text-grey"><b>Andy & Lupita</b></h1>
        <img class="w3-round w3-grayscale-min" src="{% static '/template_1/img/andy_lupi_1.jpg' %}" style="width:100%;margin:32px 0">
        <p><i>You all know us. And we all know you. We are getting married lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.</i>
        </p><br>
        <p class="w3-center"><a href="#wedding" class="w3-button w3-black w3-round w3-padding-large w3-large">Wedding Details</a></p>
    </div>
</div>

<!-- Background photo -->
<div class="w3-display-container bgimg2">
    <div class="w3-display-middle w3-text-black w3-center">
        <h1 class="w3-jumbo">You Are Invited</h1><br>
        <h2>Of course..</h2>
    </div>
</div>

<!-- Wedding information -->
<div class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min w3-center" id="wedding">
    <div class="w3-content">
        <h1 class="w3-text-grey"><b>THE WEDDING</b></h1>
        <img class="w3-round-large w3-grayscale-min" src="{% static '/template_1/img/andy_lupi_2.jpg' %}" style="width:100%;margin:64px 0">
        <div class="w3-row">
            <div class="w3-half">
                <h2>When</h2>
                <p>Wedding Ceremony - 2:00pm</p>
                <p>Reception & Dinner - 5:00pm</p>
            </div>
            <div class="w3-half">
                <h2>Where</h2>
                <p>Some place, an address</p>
                <p>Some where, some address</p>
            </div>
        </div>
    </div>
</div>

<!-- RSVP section -->
<div class="w3-container w3-padding-64 w3-pale-red w3-center w3-wide" id="rsvp">
    <h1>HOPE YOU CAN MAKE IT!</h1>
    <p class="w3-large">Kindly Respond By January, 2026</p>
    <p class="w3-xlarge">
        <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-round w3-red w3-opacity w3-hover-opacity-off" style="padding:8px 60px">RSVP</button>
    </p>
</div>

<!-- RSVP modal -->
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
        <div class="w3-container w3-white w3-center">
            <h1 class="w3-wide">CAN YOU COME?</h1>
            <p>We really hope you can make it.</p>
            <form>
                <input class="w3-input w3-border" type="text" placeholder="Name(s)" name="name">
            </form>
            <p><i>Sincerely, Andy & Lupita</i></p>
            <div class="w3-row">
                <div class="w3-half">
                    <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-green">Going</button>
                </div>
                <div class="w3-half">
                    <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-red">Can't come</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
    <p>2024. All Rights Reserved.</p>
</footer>

<script>
function w3_open() {
  document.getElementById("main").style.marginLeft = "25%";
  document.getElementById("mySidebar").style.width = "25%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
</script>

</body>
</html>